{% block content %}

<div class="content">
    <div class="chat">
        <div class="chat_history"></div>
        <div class="chat_input">
            <div class="chat_field"></div>
            <div class="chat_submit"></div>
        </div>
    </div>
    <div class="lobby">
        <ul class="lobby_list">
            <li class="lobby_room">
                <div class="lobby_name">SMt</div>
                <div class="lobby_count">5/10</div>
                <div class="lobby_set">...</div>
            </li>
        </ul>
    </div>
    <div class="profset">
        Empty
    </div>
</div>

{% endblock %}