* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  min-height: 100vh;
}

.content {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.chat {
  background: grey;
  width: 25%;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  &_history {
    height: 70%;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &_input {
    height: 20%; /* fix */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &_field, &_field:active {
    outline: none;
  }
  &_field:placeholder {

  }
  &_field {
    display: block;
    padding: 8px 4px 8px 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: solid 1px #eee;
    flex: 1 0;
  }
  &_submit {
    display: block;
    padding: 8px 16px 8px 12px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: solid 1px #eee;
    background: green;

    cursor: pointer;
    color: white;
  }
  &_submit:hover {
    background: lightgreen;
  }
  &_submit:active {
    background: lightyellow;
  }
}